/* CSS Variables */
:root {
    --dark-pink: #ba4270;
    --light-pink: #da6d97;
    --link-water-white: #fbfcfb;
    --san-juan-blue: #36536b;
    --mirage-blue: #1b262f;
    --light-san-juan-blue: #6c8294;
    --red: #FF0000;
    --transparent: rgba(251,252,254,0);
}


/* Common styles */

html {
    box-sizing: border-box;
    height:100%;
    width: 100%;
    overflow-x: hidden;
}

*, *:before, *:after{
    box-sizing: inherit;
}

.wrapper {
    margin-top: 40px;
}

body {
    background-color: rgb(234, 239, 248);
    font-family: 'Public Sans', sans-serif;
    font-size: 15px;
    background-repeat: no-repeat;
    background-position: right -150px top -570px;
    background-image: url("./assets/shared/desktop/bg-pattern-circle.svg");
}

body.index {
    background-repeat: no-repeat;
    background-position: right -100px top -200px;
    background-image: url("./assets/shared/desktop/bg-pattern-circle.svg");
}

p {
    color: var(--light-san-juan-blue);
}

h1 {
    font-size: 48px;
    font-family: 'DM Serif Display', serif;
    width: 555px;
    color: var(--san-juan-blue);
    font-weight: 500;
    margin:0;
    margin-top:82px;
}

h2 {
    color: var(--dark-pink);
    font-size: 32px;
    font-family: 'DM Serif Display', serif;
}




/* Header-Container */


/* NavBar */
header{
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* Header-Items*/
hr {
    display: none;
}

.navbar {
    flex-grow: 1;
    flex-grow:2;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.flex-nav {
    margin: 0 5%;
    flex-basis: 500px;
}

/* Navbar-Container */
.flex-nav ul{
    flex-grow: 1;
    list-style: none;
    padding:0;
    margin:0;
    display:flex;
    justify-content: space-around;
}

/* Navbar-Item */
.flex-nav ul li a:link {
    text-decoration: none;
    color: var(--light-san-juan-blue);
    font-weight: 600;
    transition: 0.1s;

}

.flex-nav ul li a:visited{
    color: var(--light-san-juan-blue);
}

.flex-nav ul li a:hover {
    color: var(--san-juan-blue);
}

/* Schedule button */
.schedule {
    background-color: var(--dark-pink);
    color: var(--link-water-white);
    border:none;
    height: 48px;
    width: 173px;
    border-radius: 40px;
    font-weight: bold;
    transition: 0.1s;
}

.schedule:hover {
    background-color: var(--light-pink);
}

.menu{
    display:none;
}




/* index.html */
/* Main */

.container{
    max-width: 1740px;
    margin: auto;
}

.first-page {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.first-page span p{
    margin-left: 30px;
}

.start{
    font-size: 72px;
    margin-top: 0;
}

/* Email box */
.details {
    display:flex;
    width: 445px;
    background-color: var(--link-water-white);
    border-radius: 40px;
    flex-wrap: wrap;
}

.details input {
    flex-grow:1;
    border:none;
    border-radius: 40px;
    padding-left:30px;
    font-weight: bold;
}

.details input::placeholder {
    color: var(--san-juan-blue);
}

.details input:hover{
    color: var(--mirage-blue);
}

/* Mid-page footer */

.first-page-footer> div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.first-page-footer {
    padding: 40px 0;
    background-color: var(--mirage-blue);
    background-image: url("assets/shared/desktop/bg-pattern-circle.svg");
    background-position: left -230px top -500px;
    background-repeat: no-repeat;
}

.first-page-footer h1{
    color: var(--link-water-white);
    display: inline;
}

.first-page-footer p {
    color: var(--link-water-white);
}

.info {
    flex: 0 1 445px;
    margin: 0;
}

.partners {
    width: 536px;
    flex: 0 1 536px;
}

.about-us {
    background-color: var(--transparent);
    height: 48px;
    width: 129px;
    border: 1px solid var(--link-water-white);
    border-radius: 40px;
    color: var(--link-water-white);
    transition: 0.1s;
}

.about-us:hover{
    color: var(--mirage-blue);
    background-color:var(--link-water-white);
}

.partners picture {
    display: flex;
    flex-wrap: wrap;
    flex:1;
    justify-content: space-between;
}

.partners picture img {
    margin: 20px 40px;
    margin-right:0;
    width: 110px;
    filter: invert(100%) sepia(25%) saturate(2%) hue-rotate(166deg) brightness(104%) contrast(100%);
}

/* After mid-page footer */

.about-implementation {
    background-image: url("./assets/shared/desktop/bg-pattern-circle.svg");
    background-repeat: no-repeat;
    background-position: right -350px top 200px;
}

.implement div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.implement div span {
    width: 445px;
}

.implement div span h1 {
    margin-top: 0;
    display: inline;
}

.implement picture img{
    width: 566px;
}

/* Finances */
.finances {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-shrink: 1;
}

.finances span {
    width: 350px;
}

.finances span p {
    line-height: 25px;
}

.heading {
    color: var(--san-juan-blue);
}


/* Ready to start section */
.ready {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:30px;
    margin-top: 30px;
}

.ready span{
    height: 48px;
}

.ready h1 {
    margin:0;
}

/* Footer */
footer {
    background: var(--mirage-blue);
}

footer div {
    display: flex;
    height:100px;
    align-items: center;
}

.flex-nav.footer {
    text-align: center;
    flex-direction: row;
    flex-shrink:1;
}

.footer-navbar {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.footer-navbar span {
    width: 120px;
}

.footer-navbar span picture{
    display: flex;
    justify-content: space-between;
}

.flex-nav.footer ul li a:hover{
    color: var(--link-water-white);
}

.footer-navbar span picture img:hover {
    filter: invert(72%) sepia(17%) saturate(5114%) hue-rotate(296deg) brightness(100%) contrast(95%);
}

/* pricing.html */


.plan-list> div{
    display:flex;
    justify-content: space-between;
}

.plan{
    width: 350px;
    flex-shrink:1;
}

.pricing h1 {
    width: 120px;
}

.plan hr {
    width: 100%;
    display: block;
    margin:0;
}

.no-check {
    padding:15px;
    margin-left:15px;
    color: var(--light-san-juan-blue);
}


.plan span div {
    height: 47px;
}

.plan span picture p{
    color: var(--san-juan-blue);
    display: inline;
}

.plan h1 {
    margin: 0;
}

.plan button{
    width: 168px;
    height:48px;
    background-color: var(--transparent);
    border-color:var(--san-juan-blue);
    color:var(--san-juan-blue);
    border-radius: 30px;
    transition: 0.1s;
}

.plan button:hover {
    background-color: var(--san-juan-blue);
    color: var(--link-water-white);
}


.plan ul {
    list-style-type: none;
    color: var(--san-juan-blue);
    padding:0;
}

.plan ul li {
    padding: 15px;
}



/* about.html */
.about-page span{
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

span.heading {
    margin:0;
}

.about h1{
    font-size: 32px;
    flex: 0 1 255px;
    margin: 0;
}

.about {
    align-items: flex-start;
}

.about p {
    flex: 0 1 635px;
    line-height: 28px;
    margin: 0;;
}

.about-title {
    font-size: 56px;
    flex: 0 1 890px;
    padding-right:200px;
}

.about-page picture img {
    width: 100%;
    height: auto;
}

.team-mobile, .team-tablet{
    display:none;
}

.about.team-details {
    justify-content: space-between;
    margin: auto;
    flex: 1 1 350px;
}

.team-details div {
    flex: 0 1 350px;
}

.team-details h1{
    font-size: 56px;
    color: var(--dark-pink);
    display: inline;
}

.team-details hr{
    display:block;
    width: 95%;
    margin: 10px 0;
}



/* contact.html */
main.contact-page {
    margin:auto;
}

main.contact-page section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form {
    flex-basis: 500px;
    flex-shrink:1;
}

.field input[type=text] {
    width:445px;
    background-color: var(--transparent);
    border: none;
    border-bottom: 0.5px solid var(--san-juan-blue);
    padding: 20px;
    transition: 0.2s;
}

.field {
    margin-bottom: 20px;
    width: 445px;
    color: var(--san-juan-blue);
}

.field:hover{
    color:#979797;
}

.field input[type=text]:hover {
    border-bottom:0.5px solid #979797;
}

.field:active {
    color: var(--red);
}

.field *:focus {
    border:none;
    outline: none;
    border-bottom: 0.5px solid var(--red);
}

.field input[type=checkbox]{
    width:24px;
    height: 24px;
}

.check-box{
    height: 24px;
    display: flex;
}

.check-box p {
    margin: 0;
}

.submit {
    width:152px;
    height: 48px;
    margin: 10px 0;
    background-color: var(--transparent);
    border-radius: 40px;
    border:1px solid var(--san-juan-blue);
    color: var(--san-juan-blue);
}

.submit:hover {
    background-color: var(--san-juan-blue);
    color:var(--link-water-white);
}

.contact-page h2 {
    color: var(--light-san-juan-blue);
    font-size: 24px;
    width:445px;
}

.partner-list {
    width: 661px;
    margin: 0;
    display: flex;
    flex-wrap:wrap;

}

.partner-list h2 {
    width: 445px;
    font-weight: 500;
}

.partner-list picture{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.partner-list picture img {
    margin: 15px;
}

.check-box input[type=checkbox] {
    accent-color: var(--dark-pink);
}

p.missing-field {
    font-size: 11px;
    color: var(--red);
}


/* Tablet view */
@media(max-width:1155px){
    body {
        background-position: right -400px top -580px;
    }

    body.index {
        background-position: center top -450px;
    }

    .container {
        max-width: 750px;
    }

    /* index.html */
    /* Navbar */

    .wrapper {
        margin:0;
    }

    /* Main */

    h1, .start {
        width: 573px;
        font-size: 48px;
        text-align: center;
        margin: auto;
    }

    .first-page{
        justify-content: center;
        flex-direction: column;
    }

    .first-page span p {
        text-align: center;
        margin: 15px 0;
    }

    .first-page picture{
        order:-1;
        
    }

    .first-page picture img {
        height: 460px;
        width: auto;
    }

    .first-page span {
        margin: auto;
    }

    .first-page-footer {
        background-position: center  top -550px;
    }

    .first-page-footer> div {
        text-align: center;
        justify-content: center;
    }

    .info {
        margin-top:20px;
        order: 1;
    }


    /* After first footer */

    .about-implementation {
        background-image: none;
    }

    .implement div span {
        width: 580px;
        text-align: center;
    }

    .implement div {
        flex-direction: column;
    }

    .implement div picture {
        order: -1;
    }

    /* Finances */
    .finances {
        margin-top: 60px;
    }

    .middle {
        margin: 0 10px;
    }

    /* Ready to start section */
    .ready {
        flex-direction: column;
        text-align: center;
    }

    .details {
        margin-top: 40px;
    }


    /* pricing.html */
    .pricing h1 {
        margin: auto;
        font-size: 48px;
        margin-top: 48px;
    }

    .plan h2 {
        font-size: 24px;
        font-weight: 400;
    }

    .plan {
        text-align: center;
    }

    .plan h1 {
        display:inline;
    }

    .plan ul{
        padding-left: 25%;
        text-align: left;
        margin: auto;
    }

    .plan span picture {
        margin: auto;
        justify-content: center;
    }

    .plan> hr {
        width:95%;
    }

    /* about.html */
    .about-title {
        font-size: 48px;
        padding: 30px 0;
        flex: 0 1 655px;
    }

    .team-tablet{
        display: block;
    }

    .team-desktop {
        display:none;
    }

    span.about{
        justify-content: space-between;
    }

    span.about> h1 {
        text-align: left;
    }

    span.about> p {
        flex-grow:1;
        flex-shrink: 1;
    }


    /* contact.html */
    main.contact-page section {
        flex-direction: column;
    }

    .contact-page h1 {
        margin-top: 48px;
    }

    .partner-list> h2 {
        text-align: center;
    }
}

/* Mobile view */

@media(max-width:670px){
    body {
        background-position: right -500px top -600px;
    }

    /* .bg-image-index {
        margin: -500px -200px;
    } */

    .container {
        max-width: 450px;
    }

    .menu{
        display: flex;
        width:30px;
        height:17px;
        flex-grow:1;
        align-self: center;
        justify-content: flex-end;
    }

    hr {
        margin:auto;
        align-self: flex-end;
        width:90%;
        margin-bottom: 40px;
    }

    header {
        align-items: flex-start;
        margin-top:-8px;
    }

    .navbar hr {
        border-color: #979797;
    }

    .menu-close {
        display:none;
        z-index: 2;
        position: fixed;
    }


    .navbar {
        flex-direction: column;
        justify-content:flex-end;
        background-color: rgba(27,38,47,0.95);
        flex:1 1 75%;
        height:100%;
        padding-top:41px;
        display:none;
        z-index:1;
        right:0;
        position:fixed;
        width: 300px;
    }
    
    .navbar span {
        flex:1;
    } 

    .flex-nav {
        flex:1;
        max-height: 160px;
        /* flex-grow:1; */
    }
    
    .flex-nav ul{
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        height:100%;
    }
    
    .flex-nav ul li {
        /* flex-grow:1; */
        margin: 16px;
    }

    .flex-nav ul li a:link{
        color:var(--light-san-juan-blue);
        /* color: #FBFCFE; */
    }

    .flex-nav ul li a:visited{
        color:var(--light-san-juan-blue);
        /* color: #FBFCFE; */
    }




    /* index.html */
    /* Main */
    .first-page h1{
        width: 327px;
        text-align: center;
        margin: auto;
    }

    h1 {
        font-size: 36px;
    }

    .start {
        font-size: 32px;
    }

    .first-page span {
        width: 320px;
    }

    .first-page picture img{
        height: 240px;
        width: auto;
    }

    
    .partners> picture {
        /* width: 280px; */
        /* margin: auto; */
    }
    
    .partners picture img {
        width: 100px;
        margin:20px;
    }

    /* .info {
        width: 327px;   
    } */
    
    /* Mid page footer */
    
    
    /* After first footer */
    .implement div span {
        width: 322px;
    }
    
    .implement div picture img {
        width: 320px;
    }
    
    /* Finances */
    .finances {
        flex-direction: column;
        align-items: center;
    }

    .middle {
        margin:0;
    }
    
    /* Ready to start */   
    .details> .schedule, .details> .email {
        height: 48px;
        width: 327px;
        margin:auto;
        margin-top: 15px;
        flex-basis: 0 1 100%;
    }
    
    .ready .details, .details {
        background-color: var(--transparent);
        height: 140px;
        display:block;
        width: 370px;
        margin-top: 32px;
    }
    
    section.ready h1 {
        width: 320px;
        font-size: 32px;
    }

    /* Page footer */
    footer{
        background-image: url("assets/shared/desktop/bg-pattern-circle.svg");
        background-repeat: no-repeat;
        background-position: center top 150px;
    }

    footer div{
        flex-direction: column;
        height: 353px;
        padding: 20px 0;
        justify-content: space-around;;
    }

    .footer-navbar {
        height: 179px;
        justify-content: space-around;
    }
    
    .flex-nav.footer ul{
        justify-content: center;
    }

    /* pricing.html */
    .plan-list> div {
        flex-direction: column;
    }

    .plan {
        width:90%;
        margin: auto;
    }

    .plan ul {
        /* padding-left:30%; */
    }

    .plan hr{
        width: 100%;
    }

    /* about.html */

    .about-title {
        font-size: 32px;
        flex: 0 1 340px;
    }

    .about h1 {
        font-size: 24px;
        width: 255px;
        height: 32px;
        display: block;
        text-align: center;
    }

    span.about {
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 255px;
        margin: 0;
        margin-top: 40px;
    }

    span.about> h1 {
        text-align: center;
    }

    span.about> p {
        height:auto;
    }

    .team-tablet {
        display:none;
    }

    .team-mobile {
        display: block;
    }

    .team-details hr {
        display: none;
    }

    hr.start-line, hr.end-line {
        display: block;
        width: 90%;
        margin: 20px auto;
    }

    .about.team-details {
        width: 100%;
        margin:0;
    }

    .about-page .ready {
        margin-top: 0;
    }


    /* contact.html */
    .contact-page section h1 {
        font-size: 32px;
        width: 327px;
    }

    .partner-list{
        width: 340px;
        flex-wrap: wrap;
        padding:0;
        flex-direction: column;
    }

    .partner-list picture{
        flex-grow: 1;
        flex-shrink:1;
    }

    .partner-list h2{
        width: 327px;
        text-align: center;
    }

    .field, .field input[type=text] {
        margin:auto;
        width:340px;
    }

    form {
        width: 340px;
        margin:auto;
    }

    .contact-page section {
        padding: 0;
    }

    .check-box {
        height:40px;
    }

    .submit {
        margin: 10px auto;

    }

}
